# getwtxt-ng

# This file is reloaded on SIGHUP. However, only certain values are acknowledged on reload:
#    admin_password
#    message_log
#    fetch_interval
#    template_path_index
#    template_path_plain_docs
#    template_path_json_docs
#    stylesheet_path
#    entries_per_page_max
#    entries_per_page_min
#    site_name
#    site_url
#    site_description
#    owner_name
#    owner_email
#
# If any other configuration fields are changed, you must restart getwtxt-ng.

[server_config]
# admin_password should be a generated with the cmd/adminPassGen tool.
admin_password = ""
bind_ip = "127.0.0.1"
port = "9001"
database_path = "getwtxt-ng.db"
message_log = "message.log"
request_log = "request.log"
fetch_interval = "1h"
template_path_index = "assets/index.tmpl"
template_path_plain_docs = "assets/docs-plain.tmpl"
template_path_json_docs = "assets/docs-json.tmpl"
stylesheet_path = "assets/simple.css"
debug_mode = false

# max must be at least 20, min must be at least 10
entries_per_page_max = 1000
entries_per_page_min = 20

# http rate limiting. set http_requests_per_minute to 0 to disable.
http_requests_per_minute = 30
http_requests_max_burst = 5

[instance_info]
site_name = "getwtxt-ng"
site_url = "https://twtxt.example.com"
site_description = "Anonymous Microblogger's twtxt registry!"
owner_name = "Anonymous Microblogger"
owner_email = "anonymousmicroblogger@example.com"
